footer {
    background-color: rgba(248, 249, 250);
    color: silver;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .container{
      margin-top: 60px;
      border-style: solid;
      border-width: 2px;
      border-color: rgba(248, 249, 250);
  }

 h1{
     text-align: center;
 }


 .navbar-brand{
     font-size: bold;
 }
 
 body{
     background-image: url(./images/pattern.png);
 }

 .fa-linkedin:before {
    content: "\f08c";
    font-size: 35px;
}

.fa-github{
    font-size: 35px;
    margin-left: 15px;

}